# OS specific
.DS_Store
.AppleDouble
.LSOverride

# Editor specific
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Jekyll (if used later)
_site/
.jekyll-cache/
.jekyll-metadata
